@page "/admin/users/resetpw"
<h3>ResetPassword</h3>

<form action="/admin/users" method="post" id="frmNewPw">
    <label>New Password: </label>
    <input @bind="pass" type="text" id="newPw" />
    <br />
    <label>Confirm Password: </label>
    <input @bind="confPass" type="text" id="confPw" />
    <button type="submit" disabled="@isSame()">Salva</button>
</form>

@code {
    private string? confPass { get; set; }
    private string? pass { get; set; }
    public bool isSame(){
        return pass == confPass;
    }
    //cambio password nel database
}
